

.navbar-custom {
  padding-top: 0;
  padding-bottom: 0;
     background: #0E0B16;
     background: -webkit-linear-gradient(left, #0E0B16, #4717F6);
     background: -o-linear-gradient(left, #21d4fd, #b721ff);
     background: -moz-linear-gradient(left, #21d4fd, #b721ff);
     background: linear-gradient(left, #0E0B16, #4717F6);
}
 .navbar-custom .navbar-brand, .navbar-custom .navbar-text {
     color: white;
     opacity: 100;
}
.navbar-custom .navbar-brand{
font-size: 45px;

  }
 nav:hover{
     background: -webkit-linear-gradient(left, #A239CA, #4717F6);
}
}
 body{
     background-color: #0E0B16;
}
 .btn{
     background: #4717f6;
     border-radius: 15px;
     box-shadow: 0px 0px #000000;
     padding: 4px 8px;
     color: #e7dfdd;
     display: inline-block;
     text-align: center;
}
 article.blog-item.single .content-footer {
     display: block;
     width: 100%;
     line-height: 67px;
     height: 70px;
     background: #121616;
     position: absolute;
     bottom: 0;
     left: 0;
}
 article.blog-item.single .content-footer .text-right {
     float: right;
     margin-right: 30px;
     margin-top: 13px;
}
 article.blog-item.single .content-footer span {
     font-size: 12px;
     color: #fff;
     font-family: 'Open Sans';
     padding-left: 60px;
     font-weight: normal;
     float: left;
}
 article.blog-item.single .content-footer .mdate {
     list-style-type: none;
     padding: 0;
     margin-left: 5px;
     float: left;
}
 article.blog-item.single .content-footer .mdate li {
     float: left;
     opacity: .8;
}
 article.blog-item.single .content-footer .mdate li a {
     text-decoration: none;
     -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
     transition: all 0.25s ease;
}
 article.blog-item.single .content-footer .mdate li a i {
     padding: 5px 10px ;
     font-size: 12px;
     color: #fff;
     border-radius: 15px;
     margin: 0 8px;
     border: 1px solid #fff;
     -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
     transition: all 0.25s ease;
}
 article.blog-item.single .content-footer .mdate li a i:hover {
     background: #e7dfdd;
     border: 1px solid #e7dfdd;
}
 footer#footer {
     background-color: #0E0B16;
     overflow: hidden;
}
 footer#footer .footer-container {
     padding-top: 110px;
     padding-bottom: 110px;
     border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
 footer#footer .footer-cp-text {
     font-family: 'Montserrat-Light';
     font-size: 12px;
}
 footer#footer .widget {
     font-family: 'Open Sans';
     font-size: 14px;
     font-style: italic;
     letter-spacing: 0.4px;
     color: rgba(255, 255, 255, 0.7);
     line-height: 1.5em;
     margin-top: 15px;
}
 footer#footer .widget .widget-title {
     color: #ffffff;
     font-style: normal;
     text-transform: uppercase;
     font-family: 'Montserrat-light', serif;
     font-size: 16px;
     letter-spacing: 2px;
     margin: 0px;
     padding: 0px;
     margin-bottom: 40px;
}
 footer#footer .widget .widget-title:after {
     content: '';
     display: block;
     width: 80px;
     height: 2px;
     background: #E7DFDD;
     top: 20px;
     position: relative;
}
 footer#footer .widget ul {
     list-style-type: none;
     margin: 0px;
     padding: 0px;
     font-size: 14px;
     line-height: 28px;
     letter-spacing: 0.7px;
}
 footer#footer .widget ul li a {
     color: rgba(255, 255, 255, 0.6);
     font-family: 'Open Sans';
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     text-decoration: none;
     text-transform: capitalize;
     -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
     transition: all 0.25s ease;
}
 footer#footer .widget ul li a:hover {
     color: #e7dfdd;
}
 footer#footer .widget p {
     color: rgba(255, 255, 255, 0.6);
     font-family: 'Open Sans';
     font-size: 14px;
     font-style: normal;
     font-weight: 300;
     line-height: 30px;
}
 footer#footer .widget .social-links a {
     display: inline-block;
     font-size: 14px;
     background-color: transparent;
     color: #b0a7a7;
     margin: 0px;
     margin-right: 5px;
     -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
     transition: all 0.25s ease;
}
 footer#footer .widget button {
     float: right;
     background-color: #E7DFDD color: #E7DFDD;
     margin-top: 10px;
     border: none;
     border: 1px solid #E7DFDD;
     border-radius: 15px;
     -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
     transition: all 0.25s ease;
}
 footer#footer .widget button:hover {
     color: #4717F6;
     background: transparent;
     border: 1px solid #4717F6;
}
 footer#footer .widget form {
     padding-top: 10px;
}
 footer#footer .sub-footer {
     background-color: #0E0B16;
     padding-top: 25px;
     padding-bottom: 25px;
     text-align: center;
     color: #989898;
}
 footer#footer .sub-footer p {
     font-family: 'Montserrat-Light';
     font-size: 13px;
     letter-spacing: 0px;
}
 footer#footer .sub-footer .social-links a {
     font-size: 16px;
     background-color: #fff;
     color: #555555;
     display: inline-block;
     width: 42px;
     height: 42px;
     line-height: 42px;
     border-radius: 50%;
     text-align: center;
     -webkit-transition: all 0.25s ease;
     -moz-transition: all 0.25s ease;
     transition: all 0.25s ease;
}
 .carousel-inner{
     height: 80%;
}

 footer#footer .footer-container {
     padding-top: 60px;
     padding-bottom: 60px;
}
 footer#footer .widget .widget-title {
     margin-top: 30px;
}
 footer#footer .footer-container {
     padding-top: 30px;
     padding-bottom: 30px;
}
 form {
     position: relative;
}
 form input[type=text], form input[type=password], form input[type=url], form input[type=email] {
     border: 1px solid rgba(110, 110, 110, 0.68);
     height: 35px;
     line-height: 40px;
     background-color: #fff;
     width: 100%;
     letter-spacing: 0.7px;
     font-family: 'Open Sans';
     text-transform: uppercase;
     font-size: 13px;
     font-weight: 100;
     font-style: italic;
     color: #000;
     padding-left: 20px;
     padding-right: 20px;
     margin-bottom: 10px;
}
 form input[type=text]::-webkit-input-placeholder, form input[type=password]::-webkit-input-placeholder, form input[type=url]::-webkit-input-placeholder, form input[type=email]::-webkit-input-placeholder {
     color: rgba(19, 16, 16, 0.9);
}
 form input[type=text]:-moz-placeholder, form input[type=password]:-moz-placeholder, form input[type=url]:-moz-placeholder, form input[type=email]:-moz-placeholder {
     color: rgba(19, 16, 16, 0.9);
}
 form input[type=text]::-moz-placeholder, form input[type=password]::-moz-placeholder, form input[type=url]::-moz-placeholder, form input[type=email]::-moz-placeholder {
     color: rgba(19, 16, 16, 0.9);
}
 form input[type=text]:-ms-input-placeholder, form input[type=password]:-ms-input-placeholder, form input[type=url]:-ms-input-placeholder, form input[type=email]:-ms-input-placeholder {
     color: rgba(19, 16, 16, 0.9);
}
 form input[type=text].inputError, form input[type=password].inputError, form input[type=url].inputError, form input[type=email].inputError {
     border: 1px solid #d03e3e!important;
     color: #d03e3e!important;
}
 form input[type=text].inputError::-webkit-input-placeholder, form input[type=password].inputError::-webkit-input-placeholder, form input[type=url].inputError::-webkit-input-placeholder, form input[type=email].inputError::-webkit-input-placeholder {
     color: #d03e3e!important;
}
 form textarea {
     border: 1px solid rgba(110, 110, 110, 0.68);
     background-color: #fff;
     width: 100%;
     letter-spacing: 0.7px;
     text-transform: uppercase;
     font-family: 'Open Sans';
     font-style: italic;
     font-size: 15px;
     font-weight: 400;
     padding: 20px;
     min-height: 120px;
}
 form textarea::-webkit-input-placeholder {
     color: rgba(19, 16, 16, 0.9);
}
 form textarea:-moz-placeholder {
     color: rgba(19, 16, 16, 0.9);
}
 form textarea::-moz-placeholder {
     color: rgba(19, 16, 16, 0.9);
}
 form textarea:-ms-input-placeholder {
     color: rgba(19, 16, 16, 0.9);
}
 form.transparent input, form.transparent textarea {
     border-radius: 7px;
     background-color: transparent;
     font-family: 'Montserrat-Light';
     text-transform: none;
     font-style: normal;
}
 form.transparent input::-webkit-input-placeholder, form.transparent textarea::-webkit-input-placeholder {
     color: rgba(255, 255, 255, 0.4);
}
 form.transparent input:-moz-placeholder, form.transparent textarea:-moz-placeholder {
     color: rgba(255, 255, 255, 0.4);
}
 form.transparent input::-moz-placeholder, form.transparent textarea::-moz-placeholder {
     color: rgba(255, 255, 255, 0.4);
}
 form.transparent input:-ms-input-placeholder, form.transparent textarea:-ms-input-placeholder {
     color: rgba(255, 255, 255, 0.4);
}
 form.transparent input.inputError, form.transparent textarea.inputError {
     border: 1px solid #d03e3e!important;
     color: #d03e3e!important;
}
 form.transparent input.inputError::-webkit-input-placeholder, form.transparent textarea.inputError::-webkit-input-placeholder {
     color: #d03e3e!important;
}
 form.text-light input {
     color: #fff;
     border-color: #fff;
}
 header.masthead {
     position: relative;
     overflow: hidden;
     padding-top: calc(7rem + 72px);
     padding-bottom: 7rem;
     background: linear-gradient(30deg,#4717F6,#A239CA);
     background-repeat: no-repeat;
     background-position: 50%;
     background-attachment: scroll;
     background-size: cover;
}
 __________________________________________________________________________ .section-content .service {
     background: #e7e7e7;
     text-align: center;
}
 .pvb0 {
     padding-bottom: 0px;
}
 .section-content {
     overflow: hidden;
}
 .pv12 {
     padding-top: 110px;
     padding-bottom: 75px;
}
 @media (min-width: 1200px) .container {
     width: 1170px;
}
 @media (min-width: 992px) .container {
     width: 970px;
}
 .container, .container-fluid {
     padding-right: 15px;
     padding-left: 15px;
}
 .container, .container-fluid {
     margin-right: auto;
     margin-left: auto;
}
 .row {
     margin-right: -15px;
     margin-left: -15px;
}
 .mt8 {
     margin-top: 80px;
}
 .ph0{
     color: white;
     opacity: 100;
}
 .mb9{
     margin-bottom: 40px;
     padding-bottom: 10px;
     color: white;
     opacity: 100;
}
.auf{
  background-color: #0E0B16;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}



.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;  
}


.container-login200 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;  
}

.popup {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}



.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}


.container-login200-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

button{
  background-color: transparent;
  border: none;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #A239CA;
  background: -webkit-linear-gradient(right, #A239CA, #4717F6, #A239CA, #4717F6);
  background: -o-linear-gradient(right, #A239CA, #4717F6, #A239CA, #4717F6);
  background: -moz-linear-gradient(right, #A239CA, #4717F6, #A239CA, #4717F6);
  background: linear-gradient(right, #A239CA, #4717F6, #A239CA, #4717F6);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}


@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.overlay {
  width: 100%;
  margin: 0 auto;
}
.p-t-115 {
    padding-top: 115px;
}

.p-b-26 {
    padding-bottom: 26px;
}

.p-b-48 {
    padding-bottom: 48px;
}
