@model Cinema2.Models.BuyTicket
@{
    ViewData["Title"] = "Home Page";
}



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Img/Screenshot_1.jpg" alt="First slide" class="img-rounded" />
            <div class="carousel-caption" role="option">
                <h3>Blade Runner 2049</h3>
                <p>
                    <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Buy ticket
                    </button>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Img/Screenshot_2.jpg" alt="Second slide" class="img-rounded" />
            <div class="carousel-caption" role="option">
                <h3>Neon Demon</h3>
                <p>
                    <button class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Buy ticket
                    </button>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Img/Screenshot_3.png" alt="Third slide" class="img-rounded" />
            <div class="carousel-caption" role="option">
                <h3>The Assassination of Jesse James</h3>
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Buy ticket
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="section-content service pvb0">
    <div class="container  pv12">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="heading text-center mb9">Your experience is gonna be exquisite.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 ph0">
                <h2>IMAX®</h2>
                <p> IMAX® provides an exceptional movie experience with images of immersive size, striking clarity.</p>
            </div>
            <div class="col-sm-4 ph0">
                <h2>REALD™ 3D</h2>
                <p>RealD™ Digital 3D is the new generation of entertainment, with crisp, bright, ultra-realistic images.</p>
            </div>
            <div class="col-sm-4 ph0">
                <h2>Dolby®  Laboratories</h2>
                <p>Dolby digital provides with immersive, real life like surrounding sound experience.</p>
            </div>
        </div>
        <div class="row mt8">
            <div class="col-sm-4 ph0">
                <h2>Great Environment</h2>
                <p> Comfortable soft seats with armrests.</p>
            </div>
            <div class="col-sm-4 ph0">
                <h2>Entertainment Center</h2>
                <p>So much more than just a regular cinema.</p>
            </div>
            <div class="col-sm-4 ph0">
                <h2>Tasty food</h2>
                <p>We have all the junk food you need to fill up your fat ass .</p>
            </div>
        </div>
    </div>
</div>


<iframe width="100%" height="500" id="map" src="https://maps.google.com/maps?q=%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F%20%D0%A3%D0%BD%D1%96%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82%D1%81%D1%8C%D0%BA%D0%B0%2C%2010%2C%20%D0%A7%D0%B5%D1%80%D0%BD%D1%96%D0%B2%D1%86%D1%96%2C%20%D0%A7%D0%B5%D1%80%D0%BD%D1%96%D0%B2%D0%B5%D1%86%D1%8C%D0%BA%D0%B0%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2C%2058000&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

<footer id="footer" bgcolor="black">
    <div class="container footer-container">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <div class="widget">
                    <h5 class="widget-title">Menu</h5>
                    <ul class="menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Coming soon</a></li>
                        <li><a href="#">Order</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h5 class="widget-title">Address information</h5>
                    <p>
                        Universitetskaya street 10, Chernivtsi, Chernivtsi region, 58000
                    </p>
                    <p>
                        <i class="fa fa-mail"></i>KINO@mail.com
                        <br>
                        <i class="fa fa-phone"></i> + 8 800 555 3535
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="widget">
                    <h5 class="widget-title">Leave a message</h5>
                    <form class="contact_form transparent">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" class="inputValidation" name="name" placeholder="Name *">
                            </div>
                            <div class="col-sm-12">
                                <input type="text" class="inputValidation" name="email" placeholder="Email *">
                            </div>
                            <div class="col-sm-12 ">
                                <textarea class="inputValidation" placeholder="Message *"></textarea>
                                <button type="submit" class="button fill rectangle">Send to us</button>
                            </div>
                        </div>
                    </form>
                    <div class="errorMessage"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row copyright-text">
                <div class="col-sm-12 text-center">
                    <p class="mv3 mvt0">© KINO 2019</p>
                </div>
            </div>
        </div>
    </div>
</footer>