@page
@model IEnumerable<Cinema2.Models.Place>
@{
    ViewBag.Title = "Всі місця";
}

<p>Places:</p>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Number</td>
        <td>Status</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Number</td>
            <td>@item.Status</td>
        </tr>
    }
</table>
