@model IEnumerable<Cinema2.Models.Tickets>
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        int count = 0;
        int row = 0;
        bool check = true;

        @for (int i = 0; i < 50; i++)
        {
           /* foreach(var item in Model)
            {
                if (count == System.Convert.ToInt32(item.Place) && row == System.Convert.ToInt32(item.Row))
                {
                    <button style="background-color: red">@count</button>
                    check = false;
                }
            }*/

            if (check == true)
            {
                <button style="background-color: white">@count</button>
            }

            count++;
            check = true;

            if (count == 10)
            {
                <p></p>
                count = 0;
                row++;
                check = true;
            }
        }
    }
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
</body>
</html>