@page
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cinema</title>
    <style>

        body {
            background-color: #0E0B16;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
</head>
<body style="background-color: #0E0B16;">
    <div class="auf">
        <div style="text-align:center">
            <h1 style="align-content:center; color:white; font-size:60px;">Registration</h1>
        </div>
        <div class="container-login100">
            <div class="popup">
                <h3>Registration Succeed, <a asp-action="">Go home</a></h3>

            </div>
        </div>
</body>
</html>